@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    margin: 0;
    padding:0;
    overflow-x: hidden; 
    background-color: black;
    z-index: -3;

}

.netflix-Heading{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20.16px;
}



.imgDiv {

    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .imgDiv:hover {
    transform: scaleX(1.2);

  }
  
  .overflow-x-auto {
    overflow-x: auto;
    padding-bottom: 8px;
  }

  



.bg-red {
    background-color: red;
  }
.mainImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.login-container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 115vh;
    min-width: 100%;
    background-color: rgb(0,0,0,0.5);
}
.imageContainer{
    position: relative;
    min-height: 130vh; 
    min-width: 100vw; 
    overflow: hidden;

}

.email-input{
    border-radius: 3px;
    background-color: rgb(51, 51, 51);
}
.form{
    padding:4rem 4rem 10rem 4rem;
    border-radius: 3px;
    margin-bottom: 100px;
}
.s-heading{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
                                                
}
.s-btn{
    background-color: red;
    padding:10px 5px;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
}
.new-signup{
    color:#737373;
    padding-top: 60px;
}
.error{
    color:#DE7804;
    margin-left:3px;
}
.phone{
    margin-bottom:10px;
}
.mainPageHeader{
    background: linear-gradient(0deg, white, black 300%) ;
}
.more-info-btn{
    background-color: rgba(109, 109, 110, 0.7);
}
.more-info-btn:hover{
    background-color: #7A756D;
    font-family: 'Helvetica Neue', sans-serif;
                                                
}
.play-btn{
    font-family: 'Helvetica Neue', sans-serif;

}
.popContainer{
    margin:auto 20%;
}
.my{
    display:none;
    
}
.imgDiv:hover .my {
    display: block;

    display:flex;
    justify-content: center;
    align-items: center;
  }
  svg{
    cursor: pointer;
  }
  .rounder{
    border: 2px solid white;
    border-radius: 50%;
  }
  .listContainer{
    display:none;
  }
  .list:hover .listContainer{
    display:block
  }
  .userName{
    color:white;
    position:absolute;
    top:10;
    display: none;
  }
  .profileImg{
    cursor:pointer;
  }

  .profileImg:hover .userName{
    display:block;
  }
  .profileImg:hover .up-arrow{
    display:none;
  }
  .profileImg:hover .down-arrow{
    display:block;
  }
  .down-arrow{
    display:none;
  }
  .searched-img-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:12px;
    margin:3%;
  }
  .img1{
    box-shadow: 2px 18px 5px 5px rgb(49, 49, 49);

  }
/* My menu css */

  .hamburger {
    padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #ff0000; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #c90808;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
      


      .hamburger--collapse .hamburger-inner {
        top: auto;
        bottom: 0;
        transition-duration: 0.13s;
        transition-delay: 0.13s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .hamburger--collapse .hamburger-inner::after {
          top: -20px;
          transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
        .hamburger--collapse .hamburger-inner::before {
          transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      
      .hamburger--collapse.is-active .hamburger-inner {
        transform: translate3d(0, -10px, 0) rotate(-45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
        .hamburger--collapse.is-active .hamburger-inner::after {
          top: 0;
          opacity: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
        .hamburger--collapse.is-active .hamburger-inner::before {
          top: 0;
          transform: rotate(-90deg);
          transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

  
          @keyframes fadeIn {
            from {
              transform:translateX(100%);
              opacity: 0;
            }
            to {
              transform:translateX(0%);
              opacity: 1;
            }
          }
      
          #navSlider {
            
            animation: fadeIn 1s ease-in-out;
          }

          @media(max-width: 1100px) {
            .video-name{
              font-size: 20px;
            }
          }
          @media(max-width: 500px) {
            .netflix-logo{
              width:140px
            }
          }
          @media(max-width: 1115px) {
            .footer{

              gap:50px
            }
          }
          @media(max-width: 916px) {
            .footer{

              gap:30px
            }
          }
          @media(max-width: 843px) {
            .footer{

              gap:15px
            }
          }
          @media(max-width:760px){
            .form{
              background:black;
              width:100%;
              height:100%;
              margin:0;
              padding:100px 20px 100px 20px;
            }
            
            .email-input{
              width:100%;
             
            }
            .header{
              padding-left:1px ;
              padding-right:10px;
            }
            .login-container{
              all:unset;
              background: black;
              height:100vh;
            }
            .mainImg{
              display: none;
              
            }
            .imageContainer{display:none;
            }
            .footer-sub-container{
              margin-left: 10%;
              margin-right: 10%;
            }
            .footer-container{
              border-top: 1px solid white;;
            }
          }
          @media(max-width:554px){
          .footer-child{
            flex-direction: column;
            gap:10px
          }  
          }
          .listContainer{
            box-shadow: 1px 1px 5px 5px rgb(48, 49, 49);
            background-color: black;
          }
          .each-list{
            width:fit-content;
            box-shadow: 0.5px 0.5px 3px 2px rgb(48, 49, 49);
          }