@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    margin: 0;
    padding:0;
    overflow-x: hidden; 
    background-color: black;
    z-index: -3;

}

.netflix-Heading{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20.16px;
}



.imgDiv {

    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .imgDiv:hover {
    transform: scaleX(1.2);

  }
  
  .overflow-x-auto {
    overflow-x: auto;
    padding-bottom: 8px;
  }

  



.bg-red {
    background-color: red;
  }
.mainImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.login-container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 115vh;
    min-width: 100%;
    background-color: rgb(0,0,0,0.5);
}
.imageContainer{
    position: relative;
    min-height: 140vh; 
    min-width: 100vw; 
    overflow: hidden;

}

.email-input{
    border-radius: 3px;
    background-color: rgb(51, 51, 51);
}
.form{
    padding:4rem 4rem 14rem 4rem;
    border-radius: 3px;
}
.s-heading{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
                                                
}
.s-btn{
    background-color: red;
    padding:10px 5px;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
}
.new-signup{
    color:#737373;
    padding-top: 60px;
}
.error{
    color:#DE7804;
    margin-left:3px;
}
.phone{
    margin-bottom:10px;
}
.mainPageHeader{
    background: linear-gradient(0deg, white, black 300%) ;
}
.more-info-btn{
    background-color: rgba(109, 109, 110, 0.7);
}
.more-info-btn:hover{
    background-color: #7A756D;
    font-family: 'Helvetica Neue', sans-serif;
                                                
}
.play-btn{
    font-family: 'Helvetica Neue', sans-serif;

}
.popContainer{
    margin:auto 20%;
}
.my{
    display:none;
    
}
.imgDiv:hover .my {
    display: block;

    display:flex;
    justify-content: center;
    align-items: center;
  }
  svg{
    cursor: pointer;
  }
  .rounder{
    border: 2px solid white;
    border-radius: 50%;
  }
  .listContainer{
    display:none;
  }
  .list:hover .listContainer{
    display:block
  }
  .userName{
    color:white;
    position:absolute;
    top:10;
    display: none;
  }
  .profileImg{
    cursor:pointer;
  }

  .profileImg:hover .userName{
    display:block;
  }
  .profileImg:hover .up-arrow{
    display:none;
  }
  .profileImg:hover .down-arrow{
    display:block;
  }
  .down-arrow{
    display:none;
  }